TG_APP_ID=123456
TG_APP_HASH=your_api_hash
TG_PHONE=+1234567890
LOG_LEVEL=info
RATE_LIMIT_MS=350
TG_CONNECT_TIMEOUT_SECONDS=60
HISTORY_DELAY_MIN_MS=2000
HISTORY_DELAY_MAX_MS=4000
FLOOD_WAIT_MAX_SECONDS=900
